.wrapper {
  padding: 0 43px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;

  >.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    background-color: var(--welcome-card-bg);
    width: 100%;
    border-radius: 15px;

    .intro {
      text-align: center;
      font-size: 32px;
      font-weight: 500;
    }

  }

  >.actions {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;

    .next {
      display: block;
      width: 180px;
      height: 56px;
      line-height: 56px;
      background-color: var(--welcome-next-btn-color);
      border-radius: 40px;
      color: var(--welcome-font-color);
      font-size: 24px;
      text-align: center;
      margin-bottom: 25px;
    }

    .jump {
      position: fixed;
      top: 35px;
      right: 43px;
      font-size: 18px;
    }
  }
}