.navbar {
  // 渐变
  background: linear-gradient(180deg, var(--navbar-bg-start) 30%, var(--navbar-bg-end) 100%);
  color: var(--navbar-text-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 8px;
  padding-top: 20px;
  padding-bottom: 0;
  > .icon_wrapper {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #3d3d3d;
  }
  > .title {
    font-size: 22px;
    font-weight: 400;
  }
}
