:root {
  --welcome-card-bg: white;
  // 按钮
  --welcome-next-btn-color: #fff7e8;
  --welcome-font-color: #ff7d00;
  // 渐变背景
  --welcome-bgc-bottom: #ffcf8b;
  --welcome-bgc-top: #fff3de;
  --animation-duration: 0.5s;
  // 按钮
  --button-bg: #faad14;
  --button-text: #3d3d3d;
  --button-font-size: 18px;
  --button-radius: 12px;
  --button-height: 48px;
  --button-border-color: #ddd;
  // 浮动按钮
  --float-button-bg: var(--button-bg);
  --float-button-text: var(--button-text);
  // Navbar
  --navbar-bg-start: #faad14;
  --navbar-bg-end: #ffd666;
  --navbar-text-color: var(--button-text);
  // Overlay
  --z-index-overlay: 20;
  --overlay-mask-bg: rgba(0, 0, 0, 0.2);
  --overlay-content-bg: #fff;
  --top-safe-area-height: 26px;
  --overlay-user-bg: #faad14;
  --overlay-user-text: var(--button-text);
  --overlay-user-login-text: #ffe58f;
  --overlay-icon-color: #faad14;
  // tags
  --input-min-height: 48px;
  --input-border-color: #999;
  --input-radius: var(--button-radius);
  --input-shadow: rgba(0, 0, 0, 0.25);
  --error-color: #e10505;
  --emoji-nav-text: #999;
  --emoji-nav-text-selected: #333;
}
