:root {
  --welcome-card-bg: white;
  // 按钮
  --welcome-next-btn-color: #fff7e8;
  --welcome-font-color: #ff7d00;
  // 渐变背景
  --welcome-bgc-bottom: #FFCF8B;
  --welcome-bgc-top: #fff3de;
  --animation-duration:0.5s;
  // 按钮
  --button-bg:#FAAD14;
  --button-text:#FFFCF0;
  --button-font-size:18px;
  --button-radius:12px;
  --button-height:48px;
  // 浮动按钮
  --float-button-bg:var(--button-bg);
  --float-button-text:var(--button-text);
  // Navbar
  --navbar-bg:var(--button-bg);
  --navbar-text-color:var(--button-text);
  // Overlay
  --z-index-overlay:20;
  --overlay-mask-bg:rgba(0,0,0,0.2);
  --overlay-content-bg:#fff;
  --top-safe-area-height:26px;
}